# Ignorar variáveis de ambiente
.env

# Ignorar dependências e bibliotecas
venv/
node_modules/

# Ignorar arquivos de cache e compilação
__pycache__/
*.pyc
*.pyo

# Ignorar logs e bancos de dados locais
*.log
*.sqlite3

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos específicos
Elogio-Educado.m4a
main-backup.py
mainbackup.py
requirements-backend-01.txt
testeMySQL
testeconexaofrontcomback.html
testeopenai.pyupload.html
whisper.py

# Ignorar a pasta temp_files
temp_files/